.header-container {
    background-color: rgba(0, 127, 254);
    border-radius: 3px;
}

.nav-drawer-icon:hover {
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
    background-color: rgb(0, 81, 162);
    cursor: pointer;
}