<!-- <h3 *ngFor="let message of telemetryList">DATE: {{message.name}} AND WATTS CONSUMPTION:{{message.value}}</h3> -->
<mat-card>
  <mat-card-title>Consumption of Microwave</mat-card-title>
  <hr>
  <mat-card-content>
    <ngx-charts-line-chart
    [view]="view"
    [scheme]="colorScheme"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [timeline]="timeline"
    [autoScale]="true"
    [results]="metrics"
    >
  </ngx-charts-line-chart>
  </mat-card-content>
</mat-card>
