<!-- Modals - This uglyness can be seperated into template files but I have no idea how to that right now -->
<!-- UPDATE/ ADD NEW DEVICE TO THE LIST -->
<ng-template #content let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Device Properties</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
      <div class="mb-3">

        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Device Name</mat-label>
              <input
                matInput
                [(ngModel)]="formDeviceName"
                id="devName"
                placeholder=""
                name="devName"
              />
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Smart Plug</mat-label>
            <mat-select [(ngModel)] = "formPlugId" [(value)]="formPlugId" name="plug" placeholder="{{formPlugId}}">
              <mat-option *ngFor="let plug of smartPlugList" [value]="plug">
                {{plug}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Threshold</mat-label>
              <input
                matInput
                [(ngModel)] = "formThreshold"
                id="threshold"
                placeholder=""
                name="threshold"
              />
          </mat-form-field>
        </div>

        <div class="d-flex justify-content-center">
          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
              <textarea
                matInput
                [(ngModel)] = "formDeviceDescription"
                id="desc"
                placeholder=""
                name="desc"
                rows="10"
              ></textarea>
          </mat-form-field>
        </div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
    <app-button buttonColor="primary" buttonText="Submit" (clickEvent)="modal.close('Save click'); isEdit === true ? updateDevice(selectedId) : addNewDevice()"></app-button>
	</div>
</ng-template>
<!-- END OF EDIT/ ADD MODAL -->

<!-- CONFIGURATION MODAL -->
<ng-template #configure let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Configure Selected Devices</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<form>
      <div class="mb-3 justify-content-center">
        <div class="d-flex flex-row bd-highlight mb-3 justify-content-around">
          <!-- switch on/off -->
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">Switch On/Off Selected Devices:</div>
            <div class="p-2 bd-highlight">
              <app-button class="mx-4" buttonColor="primary" buttonText="On" (clickEvent)="switchDevicesStatus('on')"></app-button>
              <app-button buttonColor="primary" buttonText="Off" (clickEvent)="switchDevicesStatus('off')"></app-button>
            </div>
          </div>
          <!-- Set report interval for device -->
          <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">Set Report Interval for Devices:</div>
            <div class="p-2 bd-highlight align-items-center">
              <div class="d-flex justify-content-center input-wrapper">
                <mat-form-field appearance="fill">
                  <mat-label>Interval in seconds (1-600)</mat-label>
                    <input
                      matInput
                      [(ngModel)] = "plugDelay"
                      id="delay"
                      placeholder=""
                      name="delay"
                    />
                </mat-form-field>
                <app-button buttonColor="primary" buttonText="Set Interval" (clickEvent)="setReportInterval()"></app-button>
              </div>
            </div>
          </div>
        </div>
        <!-- Switch after delay -->
        <hr>
        <div class="d-flex flex-column bd-highlight mb-3 mx-auto">
          <div class="p-2 bd-highlight mx-auto">Switch Power Status after delay</div>
          <div class="p-2 bd-highlight">
            Time Delay:
            <mat-form-field appearance="fill" class="mx-4">
              <mat-label>Hours</mat-label>
                <input
                  matInput
                  [(ngModel)] = "countDownHours"
                  id="cdHrs"
                  placeholder=""
                  name="cdHrs"
                />
            </mat-form-field>
            <mat-form-field appearance="fill" class="mx-4">
              <mat-label>Minutes</mat-label>
                <input
                  matInput
                  [(ngModel)] = "countDownMinutes"
                  id="cdMins"
                  placeholder=""
                  name="cdMins"
                />
            </mat-form-field>
            <app-button buttonText="Set" buttonColor="primary" (clickEvent)="switchStatusCd()"></app-button>
          </div>
        </div>
        <!-- Time Range for On/Off -->
        <hr>
        <div class="d-flex flex-column bd-highlight mb-3 mx-auto">
          <div class="p-2 bd-highlight mx-auto">Set Status For Period</div>
          <div class="p-2 bd-highlight">
            From:
            <mat-form-field appearance="fill" class="mx-4">
              <mat-label>Start Time</mat-label>
                <input
                  type="time"
                  matInput
                  [(ngModel)] = "formThreshold"
                  id="threshold"
                  placeholder=""
                  name="threshold"
                />
            </mat-form-field>
            To:
            <mat-form-field appearance="fill" class="mx-4">
              <mat-label>End Time</mat-label>
                <input
                  type="time"
                  matInput
                  [(ngModel)] = "formThreshold"
                  id="threshold"
                  placeholder=""
                  name="threshold"
                />
            </mat-form-field>
            <app-button buttonText="Set" buttonColor="primary"></app-button>
            <div class="p-2 bd-highlight mx-auto">
              Status:
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button value="off">Off</mat-radio-button>
                <mat-radio-button value="on">On</mat-radio-button>
                <mat-radio-button value="prev">Prev</mat-radio-button>
              </mat-radio-group>
              
            </div>
          </div>
        </div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
    (!) MQTT broker must be running.
	</div>
</ng-template>


<!-- END OF CONFIGURATION MODAL -->


<div class="add-button d-flex justify-content-end p-2" >
  <app-button buttonColor="accent" buttonText="Add Device" (clickEvent)="open(content)"></app-button>
  <app-button buttonColor="warn" buttonText="Delete Device" (clickEvent)="deleteDevices()"></app-button>
  <app-button buttonColor="" buttonText="Configure Device" (clickEvent)="open(configure)"></app-button>
</div>

<table mat-table [dataSource]="deviceList" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? toggleAllRows() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()"
                      [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)"
                      [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let device"> {{device._id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let device"> {{device.device_name}} </td>
    </ng-container>1
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Details </th>
      <td mat-cell *matCellDef="let device">
        <app-button buttonColor="primary" buttonText="View" (clickEvent)="handleDetailsRedirect(device._id)"></app-button>
      </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let device">
        <app-button buttonColor="warn" buttonText="Edit" (clickEvent)="open(content, device._id)"></app-button>
      </td>
    </ng-container>

        <!-- Symbol Column -->
    <ng-container matColumnDef="history">
        <th mat-header-cell *matHeaderCellDef> Maintenance History </th>
        <td mat-cell *matCellDef="let device">
            <app-button buttonColor="accent" buttonText="Maintenance History" (clickEvent)="handleMaintenanceRedirect(device._id)"></app-button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  
