<mat-card>
  <mat-card-title>Total Power Consumption</mat-card-title>
  <hr>
  <mat-card-content>
    <ngx-charts-bar-vertical
    [view]="view"
    [scheme]="colorScheme"
    [results]="totalCalculatedKWH"
    [gradient]="gradient"
    [xAxis]="xAxis"
    [yAxis]="yAxis"
    [legend]="legend"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
  >
    </ngx-charts-bar-vertical>
</mat-card-content>
</mat-card>


